docker {
    enabled = true
}

process {
    container = "va-nf"
}

plugins { 
    id 'nf-schema@2.3.0' 
}

validation {
    help {
        enabled = true
        command = "nextflow run main.nf --sample_sheet sample_sheet.csv --output_dir test/ --clinical_data clinical.csv --assistant=true"
    }
}

// Limits
params.variant_limit = 100

// HTML templates
params.template = 'templates/report.html'
params.glossary = 'templates/glossary.json'
